* {
    box-sizing: border-box;
    background-color: rgb(73, 88, 104);
}

body {
    margin: 0px;
    font-family: cursive;
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main";
}

#header {
    grid-area: header;
    padding: 0px 30px;
}

#header a {
    text-decoration: none;
}

#header #me {
    color: white;
    padding: 1px;
}

#header #tube {
    background-color: teal;
    color: rgb(73, 88, 104);
    padding: 2px;
    border-radius: 12px;
}

#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;
}

#sidebar ul {
    list-style-type: none;
    padding: 12px 0px;
    margin: 0px;
    border-bottom: 1px solid #AAAAAA;
}

#sidebar ul a {
    text-decoration: none;
    color: #111111;
    display: block;
    padding: 12px;
}

#sidebar ul a:hover {
    background-color: coral;
    border-radius: 8px;
    opacity: 50%;
}

#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.metube-item .thumbnail-placeholder-beast {
    aspect-ratio: 16/9;
    border-radius: 8px;
    border-style: inset;
}

.metube-item .thumbnail-placeholder {
    background-color: #111111;
    aspect-ratio: 16/9;
    border-radius: 8px;
    border-style: inset;
}

.metube-item h4 {
    margin: 8px;
}

.metube-item h4 a {
    text-decoration: none;
    color: #111111;
    display: block;
}

.metube-item h4 a:hover {
    text-decoration: underline;
}

.metube-item .video-details {
    margin: 8px;
    font-size: 14px;
}

.metube-item .video-channel {
    margin-bottom: 4px;
}
