* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: antiquewhite;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 650px 250px 1fr;
    grid-template-areas: ". content sidebar .";
    margin: 36px 0px;   
}

#sidebar-content {
    /* background-color: lightpink; */
    grid-area: sidebar;
    padding: 18px;
}

#sidebar-content h2 {
    background-color: teal;
    color: whitesmoke;
    padding: 12px;
    font-size: 18px;
    margin: 0px;
}

#sidebar-content ul {
    background-color: whitesmoke;
    padding: 12px;
    margin: 0px 0px 36px;
    border: 1px solid teal;
    list-style-type: none;
    padding: 0px 12px;
    font-size: 12px;
}

#sidebar-content a {
    text-decoration: none;
    color: goldenrod;
}

#sidebar-content li {
    padding: 8px 0px;
    border-bottom: 1px solid teal;
}

#sidebar-content li:hover {
    background-color: aquamarine;
    padding: 6px;
}

#sidebar-content li:last-child {
    border-bottom: 0px;
}

#main-content {
    /* background-color: lightblue; */
    margin: 0px 36px;
    grid-area: content;
}

.date-category {
    padding: 0px;
}

#main-content i {
    font-size: x-small; 
}