* {
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #fffde2;
    color: #333;
}

header {
    background-color: #f2c641;
    color: #fff;
}

nav {
    background: linear-gradient(goldenrod, #F2C742,#eecb61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    padding: 5px;
    border: 2px solid #aa8730;

}


nav a {
    color: #fff;
    text-decoration: none;
}

nav #logo {
    margin-right: auto;
    align-items: left;
    align-content: left;
}


#logo img {
    width: 75px;
}

.hover {
    color: #333;
    text-decoration: none;
    padding: 10px 10px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hover:hover {
    background-color: #fffde2;
    color: #333;
    border: 2px solid #aa8730;
}

.hero {
    background-image: url(../images/header-1.jpeg); 
    background-size: cover;
    background-position: center;
    text-align: left;
    padding: 40px;
    align-items: center;
}


.cta-button {
    display: inline-block;
    background-color: #f2c641;
    color: #333;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.hero a {
    text-decoration: none;
    border: 2px solid #aa8730;
    border-radius: 12px;
    padding: 10px;
}

.hero a:hover {
    background-color: #fffde2;
}

.media-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f0f0f0;
}

.media-text img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

.text {
    width: 45%;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 20px;
}


.card {
    width: 300px;
    border: 2px solid wheat;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px rgb(251, 221, 167);
    background: linear-gradient(
        -50deg,
        rgb(248, 240, 225),
        rgb(255, 213, 134),
        rgb(251, 233, 198));
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    transition: transform 0.3s ease;
    flex: 0 1 30%;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card a {
    text-decoration: none;
    color: #333;
    border: 2px solid #f2c641;
    border-radius: 12px;
    padding: 3px 5px;
    font-weight: bold;
    
}

.card a:hover {
    background-color: #fffde2;
}

footer {
    background-color: #aa8730;
    color: #fff;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}


.featured-dish {
    text-align: center;
    padding: 40px;
}

.dish-details {
    max-width: 800px;
    margin: 0 auto;
}

.featured-dish img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 20px;
}

.menu-item {
    width: 300px;
    border: 2px solid #AA8730;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px #aa8730;
    background: linear-gradient(
        -50deg,
        #FFFDE2,
        #f2c641,
        #FFFDE2);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    transition: transform 0.3s ease;
    flex: 0 1 30%;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.price {
    font-weight: bold;
    color: #333;
    font-size: 1.2em;
    padding-bottom: 15px;
    margin-bottom: auto;
}

@media screen and (max-width: 768px) {
    body {
        background:  #fffde2;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        border: 2px solid wheat;
        border-radius: 5px;
        padding: 10px;
        box-shadow: -4px 4px 12px rgb(251, 221, 167);
        background: linear-gradient(
        -50deg,
        rgb(248, 240, 225),
        rgb(255, 213, 134),
        rgb(251, 233, 198));
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px;
        transition: transform 0.3s ease;
        flex: 0 1 30%;
    }

    .card a {
        text-decoration: none;
        color: #333;
        border: 2px solid #aa8730;
        border-radius: 12px;
        padding: 3px 5px;
        font-weight: bold;
    }

}
