* {
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #fffde2;
    color: #333;
}

header {
    background-color: #f2c641;
    color: #fff;
}

nav {
    background: linear-gradient(goldenrod, #F2C742,#eecb61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    padding: 5px;
    border: 2px solid #aa8730;

}


nav a {
    color: #fff;
    text-decoration: none;
}

nav #logo {
    margin-right: auto;
    align-items: left;
    align-content: left;
}


#logo img {
    width: 75px;
}

.hover {
    color: #333;
    text-decoration: none;
    padding: 10px 10px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hover:hover {
    background-color: #fffde2;
    color: #333;
    border: 2px solid #aa8730;
}

.hero {
    background-image: url(../images/header-1.jpeg); 
    background-size: cover;
    background-position: center;
    text-align: left;
    padding: 40px;
    align-items: center;
}


.cta-button {
    display: inline-block;
    background-color: #f2c641;
    color: #333;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.hero a {
    text-decoration: none;
    border: 2px solid #aa8730;
    border-radius: 12px;
    padding: 10px;
}

.hero a:hover {
    background-color: #fffde2;
}

.media-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f0f0f0;
}

.media-text img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

.text {
    width: 45%;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 20px;
}


.card {
    width: 300px;
    border: 2px solid wheat;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px rgb(251, 221, 167);
    background: linear-gradient(
        -50deg,
        rgb(248, 240, 225),
        rgb(255, 213, 134),
        rgb(251, 233, 198));
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    transition: transform 0.3s ease;
    flex: 0 1 30%;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.card a {
    text-decoration: none;
    color: #333;
    border: 2px solid #f2c641;
    border-radius: 12px;
    padding: 3px 5px;
    font-weight: bold;   
}

.card a:hover {
    background-color: #fffde2;
}

footer {
    background-color: goldenrod;
    color: #fff;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}


.featured-dish {
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 20px;
}

.dish-details {
    max-width: 800px;
    margin: 0 auto;
    width: 300px;
    border: 2px solid #AA8730;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px #aa8730;
    background: linear-gradient(
        -50deg,
        rgb(248, 240, 225),
        rgb(255, 213, 134),
        rgb(251, 233, 198));
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    transition: transform 0.3s ease;
    flex: 0 1 30%;
}

.featured-dish img {
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.dish-details a {
    text-decoration: none;
    color: #333;
    border: 2px solid #f2c641;
    border-radius: 12px;
    padding: 3px 5px;
    font-weight: bold;   
}

.dish-details a:hover {
    background-color: #fffde2;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;

}

.menu-item {
    width: 300px;
    border: 2px solid #AA8730;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px #aa8730;
    background: linear-gradient(
        -50deg,
        rgb(248, 240, 225),
        rgb(255, 213, 134),
        rgb(251, 233, 198));
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    transition: transform 0.3s ease;
    flex: 0 1 30%;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item a {
    text-decoration: none;
    color: #333;
    border: 2px solid #f2c641;
    border-radius: 12px;
    padding: 3px 5px;
    font-weight: bold;   
}

.menu-item a:hover {
    background-color: #fffde2;
}

.menu-item img {
    max-width: 100%;
    height: 50%;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.price {
    font-weight: bold;
    color: #333;
    font-size: 1.2em;
    padding-bottom: 15px;
    margin-bottom: auto;
}

.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr;
    padding: 24px;
    border: 2px dotted black;
    background: linear-gradient(
        -50deg,
        rgb(248, 240, 225),
        rgb(255, 213, 134),
        rgb(251, 233, 198));
    gap: 24px;
    margin-bottom: 24px;
    align-content: center;
}

.basic-grid-gallery img {
    width: 50%;
}

.basic-grid-gallery:hover {
    background: #fffde2;
}

.cards {
    flex: 300px;
    border: 2px solid #f2c641;
    background: linear-gradient(
        -50deg,
        rgb(248, 240, 225),
        rgb(255, 213, 134),
        rgb(251, 233, 198));
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}
    
    
.cards a {
    text-decoration: none;
    color: black;
    display: block;
    border: 2px solid #f2c641;
    background: linear-gradient(
        -50deg,
        rgb(248, 240, 225),
        rgb(255, 213, 134),
        rgb(251, 233, 198));
    padding: 12px;
    margin-bottom: 36px;
    margin-top: 0px;
}

.cards a:hover {
    background: #fffde2;
    border: 2px solid #f2c641;
}

#card5 {
    position: relative;
}

#card5 img {
    max-width: 50%;
    height: 30%;
    border-radius: 8px;
    border: 1px solid black;
}

#card5 .card-content {
    position: absolute;
    background: linear-gradient(
        -50deg,
        rgb(248, 240, 225),
        rgb(255, 213, 134),
        rgb(251, 233, 198));
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000033;
    margin: 0px 24px;
    padding: 24px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s;
        left: 250px;
}

#card5:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(25px);
    left: 250px;
}

#card5:hover {
    background: #fffde2;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}
    
    
#card5 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

@media screen and (max-width: 600px) {

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav #logo {
        margin-bottom: 10px;
    }

    .hero {
        padding: 20px;
    }

    .media-text {
        flex-direction: column;
        padding: 20px;
    }

    .media-text img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .text {
        width: 100%;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin: 10px 0;
    }

    .featured-dish {
        flex-direction: column;
        align-items: center;
    }

    .dish-details {
        width: 100%;
    }

    .menu-items {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        width: 100%;
        margin: 10px 0;
    }

    .basic-grid-gallery {
        grid-template-columns: 1fr;
    }

    .basic-grid-gallery img {
        width: 100%;
    }

    footer {
        padding: 10px;
    }
}
