* {
    box-sizing: border-box;
    background: whitesmoke;
}

body {
    margin: 0px;
    display: block;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas:
        "header header header"
        "image info sidebar";
}

#header {
    grid-area: header;
    text-align: center;
    border-bottom: 1px solid slategray;
    margin-bottom: 36px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#header h1 {
    font-size: 48px;
    margin: 0px;
    padding: 12px;
}

#header .m {
    color: violet;
}

#header .e {
    color: coral;
}

#header .b {
    color: teal;
}

#header .a {
    color: goldenrod;
}

#header .y {
    color: aquamarine;
}

#images-column img {
    width: 100%;
    padding: 0px 24px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#product-info-column h2 {
    margin: 0px;
    padding-bottom: 12px;
}

#product-info-column h2, #product-info-column .product-info {
    border-bottom: 1px solid slategray;
}

.bold {
    font-weight: bold;
}

.big.bold {
    font-size: 26px;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-content {
    display: flex;
}

.buy-now, .add-to-cart, .add-to-wishlist {
    border-radius: 24px;
    padding: 12px;
    min-width: 200px;
    text-align: center;
    margin: 12px 0px;
}

.buy-now {
    background-color: #0053a0;
    color: white;
}

.add-to-cart {
    background-color: teal;
    color: white;
}
.add-to-wishlist {
    border: 1px solid aquamarine;
    color: teal;
}

.panel {
    border: 1px solid slategray;
    border-radius: 12px;
    padding: 24px;
    margin: 0px 24px 18px;
}

.panel p {
    margin: 12px 0px;
}

.panel h3 {
    margin: 0px 0px 8px;
}

#seller-links {
    border-top: 2px dotted #BBBBBB;
    padding-top: 12px;
}

#seller-links a {
    display: block;
    margin-bottom: 8px;
}
