.tertis-block {
            padding: 20px;
            border-width: 12px;
            border-style: outset;
            display: inline-block;
}

.teal {
    background-color: teal;
    border-color: aqua;
}

.coral {
    background-color: coral;
    border-color: salmon;
}

.seagreen {
    background-color: lightseagreen;
    border-color: aquamarine;
}

.goldenrod {
    background-color: goldenrod;
    border-color: lightgoldenrodyellow;
}