.coral {
            padding: 20px;
            border-width: 12px;
            border-style:ridge;
            display: inline-block;
}

.teal {
    padding: 20px;
    border-width: 12px;
    border-style:groove;
    display: inline-block;
}

.seagreen {
    padding: 20px;
    border-width: 12px;
    border-style: dashed;
    display: inline-block;
}

.goldenrod {
    padding: 20px;
    border-width: 12px;
    border-style: inset;
    display: inline-block;
}

.teal {
    background-color: teal;
    border-color: aqua;
}

.coral {
    background-color: coral;
    border-color: salmon;
}

.seagreen {
    background-color: lightseagreen;
    border-color: aquamarine;
}

.goldenrod {
    background-color: goldenrod;
    border-color: lightgoldenrodyellow;
}